/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
}

.header h1 {
    margin: 0;
    font-size: 3em;
    animation: fadeIn 2s ease-in-out;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.graph-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.graph-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.graph-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.graph-info p {
    margin: 5px 0;
    color: #666;
}

.graph-container {
    text-align: center;
    margin: 20px 0;
}

.graph-img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chat-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-button:hover {
    background-color: #2980b9;
}

.footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 15px;
    
    width: 100%;
    bottom: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
